.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.hyperlink{
  font-size: 24px;
  color: rgb(142, 142, 198);

}

.modelbutton {
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  width : 10%;
  height : 70px;
  cursor: pointer;
  color: pink;
}

body {
  background-color:  #282c34; /* Replace with your desired color */
}

.textbox{
  font-size: 24px;
  width: 75%; /* 50% of the container's width */
  height: 1em;
  margin: 0 0 0 20px
}

.description{
  font-size:20px;
}

#submitbtn{
  margin: 10px;
  font-size:18px;
}

.container{
  place-items: center;
  display:flex;
  align-items: center;
  /*justify-content: center;*/
  margin:0 10%;
}

label.chatlabel{
  margin: 20px;
  font-size: 22px;
}

.userlogo{
  width : 50px;
  height: 50px;
  border-radius: 100%;
  margin:0 10px;
  border: 2px ridge #8b96ab;  
}

.star{
  display: inline-block;
  margin: 10px;
}

.red{
  color:red;
}